.root {
    -fx-font-family: "Agency FB";
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4b4d73;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #4b4d73;
    -fx-cursor: hand;
}

.choice-box {
    -fx-background-color: white;
    -fx-font-size: 20px;
}

.info {
    -fx-background-color:  #2d2e47;
    -fx-background-radius: 25px;
}