.root {
    -fx-font-family: "Agency FB";
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4b4d73;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #4b4d73;
    -fx-cursor: hand;
}

.choice-box {
    -fx-background-color: white;
    -fx-font-size: 20px;
}

.info {
    -fx-background-color:  #2d2e47;
    -fx-background-radius: 25px;
}

.check-box:focused {
    -fx-color: white;
    -fx-focused-color: black;
}

.check-box .box {
    -fx-background-color: white;
    -fx-body-color: black;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
}

.check-box:focused .box {
    -fx-background-color: white;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 3, 4, 2, 1, 1;
}

.leaderboard {
    -fx-text-fill: white;
    -fx-font-size: 35px;
}